---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="prose mx-auto pt-8 pb-24">
    <div class="flex justify-between items-center rounded-box p-6 bg-base-300 shadow-md">
      <h1 class="m-0">ARKS.moe</h1>
      <div>
        <a href="https://twitter.com/arks_moe" target="_blank" title="Twitter" class="btn btn-circle"><i
            class="text-xl fa-brands fa-twitter"></i></a>
        <a href="https://github.com/arks-moe" target="_blank" title="GitHub" class="btn btn-circle"><i
            class="text-xl fa-brands fa-github"></i></a>
      </div>
    </div>
    <h2>About</h2>
    <p>Here's a little landing page just to showcase a bunch of stuff built underneath the ARKS.moe umbrella!</p>
    <h2 class="mt-6">Projects and Stuff</h2>
    <ul>
      <li>
        <h3><a target="_blank" href="https://symbols.arks.moe/">Symbol Bucket</a></h3>
        <p>A web app for sharing Symbol Arts from PSO2.</p>
        <a target="_blank" href="https://symbols.arks.moe/">
          <img class="rounded-box shadow-md" src="/assets/symbol-bucket-preview.png"
            alt="Preview of Symbol Bucket web app.">
        </a>
      </li>
      <li>
        <h3><a href="https://mille.arks.moe">Mille's Corner</a></h3>
        <p>
          <a class="link-hover" target="_blank" href="https://twitter.com/mille_pso2">
            @mille_pso2</a>'s
          central website for all the funny math she does.
        </p>
        <a href="https://mille.arks.moe">
          <img class="rounded-box shadow-md" src="/assets/mille-preview.png" alt="Preview of Mille's Corner.">
        </a>
      </li>
    </ul>
    <div class="divider"></div>
    <h3>Want a subdomain with <i>arks.moe</i>?</h3>
    <p>Just ask me on Twitter lol
      (<a href="https://twitter.com/jojobii_" target="_blank">@jojobii_</a>).</p>
  </div>
</MainLayout>
