---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <div class="prose mx-auto p-4 pb-16">
    <h2>Handy Links</h2>
    <ul>
      <li>
        <a href="https://pso2.com/players/">PSO2:NGS Official Player Site</a>
      </li>
      <li>
        <a href="https://pso2na.arks-visiphone.com/wiki/Portal:New_Genesis"
          >PSO2:NGS Arks-Visiphone Wiki</a
        >
      </li>
      <li>
        <a href="https://na.arks-layer.com/">Arks-Layer Global (PSO2 Tweaker)</a
        >
      </li>
    </ul>
    <hr />
    <h2>Pages</h2>
    <ul>
      <li>
        <a href="/hashtag-guide">PSO2 Twitter Hashtag Guide</a>
      </li>
      <li>
        <a href="/ngs-timeline">PSO2:NGS Lore Timeline</a>
      </li>
    </ul>
    <hr />
    <h2>About</h2>
    <p>
      Here's a little landing page just to showcase a bunch of stuff built
      underneath the ARKS.moe umbrella!
    </p>
    <h2 class="mt-6">Projects and Stuff</h2>
    <ul>
      <li>
        <h3>
          <a target="_blank" href="https://symbols.arks.moe/">Symbol Bucket</a>
        </h3>
        <p>A web app for sharing Symbol Arts from PSO2.</p>
        <a target="_blank" href="https://symbols.arks.moe/">
          <img
            class="rounded-box shadow-md"
            src="/assets/symbol-bucket-preview.png"
            alt="Preview of Symbol Bucket web app."
          />
        </a>
      </li>
      <li>
        <h3><a href="https://mille.arks.moe">Mille's Corner</a></h3>
        <p>
          <a
            class="link-hover"
            target="_blank"
            href="https://twitter.com/mille_pso2"
          >
            @mille_pso2</a
          >'s central website for all the funny math she does.
        </p>
        <a href="https://mille.arks.moe">
          <img
            class="rounded-box shadow-md"
            src="/assets/mille-preview.png"
            alt="Preview of Mille's Corner."
          />
        </a>
      </li>
    </ul>
    <div class="divider"></div>
    <h3>Want a subdomain with <i>arks.moe</i>?</h3>
    <p>
      Just ask me on Twitter lol (<a
        href="https://twitter.com/jojobii_"
        target="_blank">@jojobii_</a
      >).
    </p>
  </div>
</MainLayout>
