---
import Header from '../components/Header.astro';
let { title, opengraph } = Astro.props;
title ??= `ARKS.moe`;

opengraph ??= {};
opengraph.title ??= title;
opengraph.description ??= `Hub for all things ARKS.moe~`;
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <meta property="og:site_name" content="ARKS.moe" />
    <meta property="og:title" content={opengraph.title} />
    <meta property="og:description" content={opengraph.description} />
    <meta property="og:url" content="https://arks.moe" />

    <meta property="og:image" content="https://arks.moe/default-embed.png" />
    <meta name="twitter:card" content="summary" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <header>
      <Header />
    </header>

    <slot />
  </body>
</html>
