---
import MainLayout from '../layouts/MainLayout.astro';
const { title } = Astro.props.content;
---

<MainLayout title={title}>
  <div class="prose mx-auto p-4 pb-16">
    <slot />
  </div>
</MainLayout>
