---
import MainLayout from '../layouts/MainLayout.astro';
const { title, description } = Astro.props.content;
---

<MainLayout title={title} opengraph={{ description }}>
  <div class="prose mx-auto p-4 pb-16">
    <slot />
  </div>
</MainLayout>
